<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>上海证券-基金理财服务管理平台</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="app">
        <router-view></router-view>
    </div>
    
    <% if(process.env.NODE_ENV == 'development'){ %>
    <script src="/dist/libs/jquery.min.js"></script>
    <script src="/dist/libs/layer/layer.js"></script>
    <script src="/dist/libs/config.js"></script>
    <% }else{ %>
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/layer/layer.js"></script>
    <script src="/libs/config.js"></script>
    <% } %>

    <!-- built files will be auto injected -->
  </body>
</html>
